/* * {
  background-color: red;
} */

:root {
  /* backgrounds */
  --mainbg: hsl(0, 0%, 90%);
  --keytogglebg: hsl(0, 5%, 81%);
  --screenbg: hsl(0, 0%, 93%);

  /* keys */

  --keycyansbg: hsl(185, 42%, 37%);
  --darkcyanbg: hsl(185, 58%, 25%);

  --keyorangebgtoggle: hsl(25, 98%, 40%);
  --darkorangeshadow: hsl(25, 99%, 27%);

  --lightgrayyellowbg: hsl(45, 7%, 89%);
  --darkgrayorangeshadow: hsl(35, 11%, 61%);

  /* text */

  --fontdarkgrayyellow: hsl(60, 10%, 19%);
  --fontwhite: hsl(0, 0%, 100%);
}

body {
  background-color: var(--mainbg);
}

#display {
  background-color: var(--fontwhite);
  color: var(--fontdarkgrayyellow);
}

.grid-container {
  background-color: var(--keytogglebg);
}

button {
  background-color: var(--screenbg);
}

.buttons > .equal {
  background-color: var(--keyorangebgtoggle);
}

/* ### Theme 2

#### Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

#### Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

#### Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0%, 100%) */
